.logo {
    width: 170px; 
    height: 80px;

    @media (max-width: 768px) {
        width: 120px; 
        height: auto;
    }
}
.table-container {
    padding:40px 100px;    
    overflow-x:auto;

    @media (max-width: 768px) {
        padding: 20px 10px; 
    }
}

  .table tbody td, .table tbody th {
    vertical-align: middle;
  }
  .table a {
    vertical-align: middle;
  }
